html {
  scroll-padding-top: 3.5rem;
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif !important;
}

.masthead h1 {
  font-size: 3.5rem;
}

.masthead h3 {
  font-size: 2rem;
}

h6 {
  font-weight: bold;
}

/* under small breakpoint */
@media (max-width: 576px) {
  .container {
    padding: 25px;
  }
}

.bg-img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.masthead {
  height: 100vh;
  min-height: 500px;
}

p {
  text-align: justify;
}

.img-studio {
  width: 40%;
}

.navbar {
  transition: all 0.5s;
}

.navbar-scrolled {
  background-color: var(--bs-black);
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.5s;
  height: 2px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

.navbar a {
  font-size: 1.2rem;
}

.protrait-img-box {
  aspect-ratio: 900 / 1200;
  width: 75%;
}

/* lg breakpoint */
@media (min-width: 992px) {
  .protrait-img-box {
    width: 100%;
  }
}

.item-img {
  height: 200px;
  overflow: clip;
  background-color: lightcoral;
}

.proj-card {
  width: 100%;
  aspect-ratio: 1.5;
  cursor: pointer;
  transition: all 0.5s;
}

.proj-card .proj-header {
  height: 20%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
}

.proj-card:hover .proj-header {
  background-color: rgba(0, 0, 0, 0.9);
}

.listen-section {
  background-color: white;
  color: var(--bs-black);
}

.player-box {
  aspect-ratio: 16 / 9;
  width: 100%;
}

/* under large breakpoint */
@media (min-width: 992px) {
  .text-box {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
}

.media-text {
  color: white;
  width: 100%;
  height: 100%;
  background-color: var(--bs-black);
}

.box {
  background-color: transparent;
  border: 1px solid black;
  aspect-ratio: 16 / 9;
  width: 100%;
}

.modal-content {
  background-color: black;
}

.dark-section {
  color: white;
}

.email-link {
  background-color: black;
  aspect-ratio: 1 / 1;
  transition: scale 0.5s;
  width: 50%;
}

.email-link:hover {
  scale: 0.9;
}

/* under large breakpoint */
@media (min-width: 992px) {
  .email-link {
    width: 30%;
  }
}

.icon-div {
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white-section {
  background: white;
}

.linkedin-icon {
  aspect-ratio: 635 / 540;
  transition: all 0.5s;
}

.soundcloud-icon {
  background-color: #FF5500;
  aspect-ratio: 1/1;
  transition: all 0.5s;
}

.icon-container {
  display: grid;
  grid-template-columns: 1.17fr 1fr;
  gap: 10px;
}

@media (hover: hover) {
  .proj-card:hover {
    scale: 0.9;
  }

  .soundcloud-icon:hover {
    scale: 0.9;
  }

  .linkedin-icon:hover {
    scale: 0.9;
  }
}